* {
    box-sizing: border-box;
    margin: 0;
    color: #4d141f;
}
body {
    font-family: "Nunito", arial, sans-serif;

    background-image: linear-gradient(to bottom right, #c7796e, #F6CBB7);
    background-color: #FAF7F4;
}
.header {
    margin: auto;
    display: flex;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    
    background-color: transparent;

}
section {
    margin: auto;
    padding: 5em;
    min-width: 100vw;
    min-height: 100%;

    display: flex;
    justify-content: space-around;

    background-image: linear-gradient(to bottom right, #CB857C, #F6CBB7);
}

.product {
    max-height: 100vh;
    
}

ul {
    list-style: none;
}
.blogs {
    display: flex;
    justify-content: space-around;
    gap: 10px;


    background: rgba( 156, 45, 65, 0.4 );
    box-shadow: 0 8px 32px 0 rgba(146, 42, 16, 0.37);
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
}

.articles {
    min-width: 100px;
    max-width: 100px;
    max-height: 333px;
    padding: .5em;
    border-radius: 5px;
    text-align: center;
}